#form-wrapper {
    height: 100%;
    flex: 1 1 auto;
    margin: 0 auto;
}

#form-wrapper input,
p,
span {
    display: inline-block;
    margin: 7px;
    vertical-align: middle;
}

input {
    width: 200px;
}

p {
    width: 75px;
}

#table_check {
    margin: 10px;
}

#uppercase_row,
#lowercase_row,
#number_row,
#length_row,
#special_row {
    color: red;
}

#pass_chck_icon {
    color: green;
    font-size: 1.5em;
}

#email_chck_icon {
    color: green;
    font-size: 1.5em;
}

.progress {
    width: 30%;
}